

body {
	background-image: url(vintage_white_wall.png);
	margin:0 auto;

}

header {
margin-bottom:20px;
height:20px;

}




/* Reset
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}
h1 { margin-bottom: 10px; color: #111111;}	
a, img { outline: none; border:none; color: #000; font-weight: bold; text-transform: uppercase;}
p { margin: 0 0 10px; line-height: 1.4em; font-size: 1.2em;}
img { display: block; margin-bottom: 10px;}
aside { font-style: italic; font-size: 0.9em;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
	}

/* Structure */
#wrapper {
	width: 100%;	
	max-width: 1200px;
	margin: auto;
	padding: 0%;
	} 
	#main {
		width: 60%;
		margin-right: 5%;
		float: left;
		}		

	aside {
		width: 35%;
		float: right;
		}

/* Logo H1 */
header h1 {
	height: 70px;
	width: 160px;
	float: left;
	display: block;
	color:black;
	/*background: url(../images/demo.gif) 0 0 no-repeat;*/
	/*text-indent: -9999px;*/
	}

/* Nav */
header nav {
	float: right;
	margin-top: 40px; 
	}

	header nav li {
		display: inline;
		margin-left: 15px;
		}

#skipTo {
	display: none;
	}
	#skipTo li {
		background: #b1fffc;
		}

/* Banner */			
#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	height:960px;
	background-image: url(whitetexture.png);
	}

	#banner img {
		width: 100%;

		}


/* Media Queries */
@media screen and (max-width: 480px) {

	#skipTo {
		display: block;
		}

	header nav, #main, aside {
		float: left;
		clear: left;
		margin: 0 0 10px; 
		width: 100%;
		}	
		header nav li {
			margin: 0;
			background: #efefef;
			display: block;
			margin-bottom: 3px;
			}
			header nav a {
				display: block;
				padding: 10px;
				text-align: center;
				}			
}

/*slider start*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);



a:link,
a:visited {
  color: white;
}


section {
  height: 600px;
  left: 40px;
  position: relative;
  top: 150px;
}



.knob-slider {
  position: relative;
  height: 500px;
  margin: 0 auto;
  width: 500px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.knob {
  border: solid 1px #ccc;
  border-radius: 50%;
  box-shadow: 0 0 2px #333;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  height: 50px;
  opacity: .6;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white), color-stop(100%, white));
  background-image: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0) 0%, white 100%, white);
  background-image: radial-gradient(  ellipse at center, rgba(255, 255, 255, 0) 0%, white 100%, white);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.knob:hover {
  box-shadow: 0 0 5px #666;
  opacity: 1; }

.knob.grab {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.instructions {
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  right: 40px;
  position: absolute;
  text-align: center;
  width: 150px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.knob-circle {
  background-color:#CDDAEE;
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  -webkit-transition: box-shadow 1s ease-in-out;
  -moz-transition: box-shadow 1s ease-in-out;
  transition: box-shadow 1s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.circle {
  border-radius: 50%;
  display: block;
  height: 500px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 500px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .circle #circle1 {
    border-radius: 50%; 
    position:fixed;
    position: absolute;
	top: 8%;
	left: 8%;
	opacity:.8;
}

  .circle #circle2 {
    border-radius: 50%; 
    position:fixed;
    position: absolute;
	top: 8%;
	left: 9%;
	opacity:.8;
}

  .circle #circle3 {
    border-radius: 50%; 
    position:fixed;
    position: absolute;
	top: 8%;
	left: 8%;
	opacity:.8;
}

  .circle #circle4 {
    border-radius: 50%; 
    position:fixed;
    position: absolute;
	top: 11%;
	left: 11%;
	opacity:.8;
}
.footer {
  color: white;
  font-size: 8px;
  text-align: center; }
  .footer p {
    line-height: 140%; }

/*slider end*/

#portrait {
	margin-top:60px;
	height:600px;
	position:relative;
	width:100%;
	overflow:auto;
	background-image: url(whitetexture.png)

}

.parallax {
	opacity: .6;
	overflow:hidden;
}

#box1_container{
	height: 200px;
	width:300px;
	background-color:#C6D9BA;
	position:absolute;
	top: 31%;
	float:left;
	margin-left:20px;
}

#box2_container {
	height: 200px;
	width:300px;
	background-color:#C6D9BA;
	position:relative;
	top:31%;
	margin:0 auto;
}

#box3_container {
	height: 200px;
	width:300px;
	background-color:#C6D9BA;
	position:relative;
	top:-2.3%;
	float:right;
	margin-right:20px;
}